:root {
  --primary-color: #61dafb;
  --secondary-color: #132b32;
  --gray: #6d6d6d;
  --dark-bg: #282c34;
  --light-bg: #dff7fe;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

#root {
  min-width: 768px;
  margin: 0 auto 15px;
  width: 85%;
  background-color: var(--light-bg);
}
